html, body{
	height: 100vh;
}

body{
	background-color: #f3ede3;
	font-family: "Inter", sans-serif;
	color: black;
	
	margin: 2rem 4rem 0 4rem;
}

#main{
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color: inherit;
}

img{
	width:50vw;
	height:60vh;
	margin: 1rem;
}

.content-container{
	display: flex;
	align-items: flex-start;
}

.content-container img {
	max-width: 100vw;
	height:auto;
}