{% extends 'base.html' %}
{% block content %}
<div class="content-container">
	<img src="/static/images/cooking.jpg">
	<div class="text-container">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae ullam maxime odio numquam eos cum nesciunt, sit tenetur distinctio non deserunt labore corporis aliquam. Perferendis possimus in alias optio?</p>
	</div>
</div>
<br>

<div class="content-container">
	<div class="text-container">
		<p class="bigger">Recipes: </p>
	</div>
	<div class="text-container">
		<p class="bigger">These are some recipes</p>
	</div>
</div>
<div class="recipe-container">
	{% for recipe in recipes %}
	<div class="recipe outlined">
		<div>
			<img src="/static/images/cooking.jpg" alt="">
		</div>
		<div class="text-container">
			<p>Name</p>
		</div>
	</div>
	{% endfor %}
	<dialog id="recipeModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<div class="content-container">
				<div class="content-container-vertical">
					<div class="text-container">
						<p class="bigger">Name</p>
					</div>
					<div class="text-container">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet autem repellendus a aliquid molestiae ipsam, eius dignissimos alias dolorem laudantium fuga animi, voluptas corrupti facilis iure officiis soluta sunt. Nam.</p>
					</div>
					<div class="text-container">
						<p>Recipe Requirement: </p>
					</div>
					<div class="text-container">
						<p>Ingredients: </p>
					</div>
					<div class="text-container source">
						<p>Source: </p>
					</div>
				</div>
				<div class="content-container-vertical">
					<img src="/static/images/cooking.jpg" alt="" class="recipe-image">
					<div class="text-container">
						<p>Difficulty: </p>
					</div>
					<div class="text-container">
						<p>Average Time: </p>
					</div>
					<div class="text-container">
						<p>XP Gained: </p>
					</div>
					<button class="start">Start</button>
				</div>
			</div>
		</div>
	</dialog>
</div>
{% endblock %}