{% extends 'base.html' %}
{% block content %}
<div class="content-container">
	<img src="/static/images/cooking.jpg">
	<div class="text-container">
		<p class="website-description">Welcome to Ranked Kitchen! Spending time in the kitchen is something everybody does every day, and depending on what you are making, it can get out of hand and end in a disaster. Here at Ranked Kitchen, we are re-imagining a normal day in the kitchen and making it competitive with people around the world, offering experience points for dishes that you complete. Gathering many experience points allows you to rank up between five different ranks, including Bronze Baker, Silver Slicer, Gold Grillers, Ruby Roasters, Titanium Tenderizers and Diamond Dicers. Sign up today to begin participating into the worldwide cooking competition!</p>
	</div>
</div>
<br>

<div class="content-container">
	<div class="text-container">
		<p class="bigger">Recipes: </p>
	</div>
</div>
<div class="recipe-container">
	{% for recipe in recipes %}
	<div class="recipe outlined" data-name="{{recipe.name}}">
		<img src="/recipes/{{recipe.name}}/assets/Cover.jpg" alt="">
		<div class="text-container">
			<p>{{recipe.display_name}}</p>
		</div>
	</div>
	{% endfor %}
	<dialog id="recipeModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<div class="content-container">
				<div class="content-container-vertical">
					<div class="text-container">
						<p class="title" id="modal-name">Name</p>
					</div>
					<div class="text-container">
						<p class="description" id="modal-description"></p>
					</div>
					<div class="text-container">
						<p id="modal-requirement">Recipe Requirement: </p>
					</div>
					<div class="text-container">
						<p class="ingredients" id="modal-ingredients">Ingredients: </p>
					</div>
					<div class="text-container source">
						<p id="modal-source">Source: </p>
					</div>
				</div>
				<div class="content-container-vertical">
					<img src="" alt="" class="recipe-image" id="modal-image">
					<div class="text-container">
						<p id="modal-difficulty">Difficulty: </p>
					</div>
					<div class="text-container">
						<p id="modal-time">Average Time: </p>
					</div>
					<div class="text-container">
						<p id="modal-xp">XP Gained: </p>
					</div>
					<a id="start-button"><button class="start">Start</button></a>
				</div>
			</div>
		</div>
	</dialog>
</div>
{% endblock %}